header,footer{
    text-align: center;
    background: #220547;
    color: white;
}
header img{
    width: 100%;
}

.car-type{
    display: inline-block;
    margin: 1em;
    padding: 1em;
    border: 1.7px solid #c8c6c6;
    border-radius: 20px;
}
p{
    color:#c8c6c6
}

.car-type button{
    position: relative;
    bottom: -1px;
    background:#c8c6c6;
    padding: 5px;
    border: 1px solid #c8c6c6;
    border-radius: 5px;
}

.container{
    text-align: center;
    margin: 2em;
    background-color: #220547;
}